@import 'normalize.css';

*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --close-button-color: #e81123;
    --light-font-color: #9a9a9a;
    --dark-font-color: #404040;
    --primary-color: #e91e63;
    --light-color: #ff6090;
    --dark-color: #b0003a;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

.header {
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header__row {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
}

.header__title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.header__controls {
    display: flex;
}

.header__more {
    margin-left: 18px;
}

/* Main text input */

.main-text-input {
    width: 100%;
    height: 60vh;
    margin: 25px 0 40px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    resize: none;
}

/* Controls */

.controls__label {
    display: flex;
    align-items: center;
    user-select: none;
}

.controls__text {

}

.controls__checkbox {
    display: none;
}

.controls__checkbox:checked ~ .controls__checkmark {
    background: var(--primary-color);
    border: 0 solid #747474;
}

.controls__checkbox:checked ~ .controls__checkmark::after,
.controls__checkbox:checked ~ .controls__checkmark::before {
    opacity: 1;
}

.controls__checkmark {
    position: relative;
    display: block;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    border: 2px solid #747474;
    border-radius: 2px;
}

.click-anim {
    animation: push .3s ease-in-out;
}

@keyframes push {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.controls__checkmark::before {
    content: '';
    position: absolute;
    top: 67%;
    left: 15%;
    display: block;
    width: 5px;
    height: 2px;
    background: #fff;
    transform-origin: top right;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.controls__checkmark::after {
    content: '';
    position: absolute;
    top: 43%;
    left: 29%;
    display: block;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.1s ease-in-out;
} 

.controls__row {
    display: flex;
    align-items: center;
}

.controls__grid {
    width: 66.66%;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fill, 250px);
}

.controls__counter {
    width: 33.33%;
    font-size: 52px;
    text-align: center;
}